/** {*/
/*  background: #000 !important;*/
/*  color: #0f0 !important;*/
/*  outline: solid #f00 1px !important;*/
/*}*/


/*--Background Styles--*/
body {
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #ffffff;
    color: black;
    font-size: 20px;
}

footer {
    background-color: #686464;
    color: #ffffff;
    font-size: 12px;
}
.contact-info {
    padding-top: 20px;
}

.callout-container {
    /*--- sets background image for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("../images/crowd.jpg")no-repeat center center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 100vh;
    
}

.involved-container {
    color: black;
    padding-top: 500px;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 60vh;

}

.opaque-overlay {
    /*---positioned relative to the nearest positioned ancestor---*/
    position: absolute;
    top: 0;
    left: 0;
    /*--- size of overlay to just cover background image ---*/
    height: 100%;
    width: 100%;
    /*--- color of background to be grey but almost transparent to make white text stand out ---*/
    background-color: rgba(0, 0, 0, 0.55);

    /*---pulls content forward to be visible on Z-index axis---*/
    z-index: 1;

}

/*--Navbar Styles--*/

.my-navbar {
    font-family: 'Roboto Condensed', sans-serif;

    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #ffffff; 
    /*--- color of text white ---*/
    
    height: 150px;
}

.my-navbar-nav {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 30px;
    background-color: #ffffff;
    
    
}



.my-nav-link {
    /*--- color of text white ---*/
    color: black;
    /*--- color change transition when hovering over my-nav-link ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}


.my-navbar-toggler {
    /*--- display to fill contents ---*/
    display: contents;
    width: 2em;
    height: 2em;
    /*--- aligns to fit toggler container ---*/
    vertical-align: middle;
    /*--- content aligned according to parent element ---*/
    content: "";
    /*--- toggler doesn't repeat and it center to container ---*/
    background: no-repeat center center;
    /*--- toggler 100% of toggler container ---*/
    background-size: 100% 100%;
    
    /*--- color of text white ---*/
    color: black;
    /*--- removes margins automatically set by bootstrap ---*/
    margin-right: 30px;
}

.my-navbar-toggler-icon {
    /*--- color of icon white ---*/
    color: black;

}

.my-navbar-brand {
    font-family: 'Amatic SC', cursive;

}

/*--Buttons--*/

.my-btn {
    /*---blue color--*/
    background-color: #28a74500;
    border-color: #03A9F4;
    color: #03A9F4;
    font-weight: 800;
    
}

.my-btn:hover {
    /*--- color of background: blue ---*/
    background-color: #03A9F4;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.my-involved-btn {
    background-color: #ffffff;
    border-color:  #03A9F4;
    color:  #03A9F4;
}

.my-involved-btn:hover {
    /*--- color of background: blue ---*/
    background-color: #03A9F4;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.app-heading {
    padding-bottom: 30px;
}


.volunteer-form {
    padding-top: 200px;
    padding-bottom: 100px;
}

.footer-NPO {
    padding-top: 20px;
}

.footer-social-media {
    padding-left: 20px;
    padding-top: 20px;
}

.footer-social-media i {
     /*---blue color--*/
    color: #03A9F4;
    font-size: 20px;
   
}

.footer-social-media i:hover {
    /*--- color of background: darker green ---*/
    color: #2567ae;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.social-heading {
    padding-top: 100px;
    font-size: 25px;
}

.social-media i {
    /*---blue color--*/
    color: #03A9F4;
    font-size: 30px;
    padding: 15px;
}

.social-media i:hover {
 /*--- color of background: darker green ---*/
    color: #2567ae;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}


.my-icon i {
    /*---blue color--*/
     color:  #03A9F4;
    font-size: 50px;
}
.my-icon i:hover {
     /*--- color of background: darker blue ---*/
    color: #2567ae;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker blue color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

/*--- Images ---*/

.involved-div3 {
    
     background: url("../images/holding.jpg")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    
    width: 300px;
    height: 300px;
}

.involved-div2 {
    
     background: url("../images/vendors.jpg")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    
    width: 300px;
    height: 300px;
}

.involved-div1 {
    
     background: url("../images/rainbow.jpg")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    
    width: 300px;
    height: 300px;
}

.involved-padding {
    /*padding-top: 10px;*/
    font-size: 14.3px;
}


.involved-margin {
    margin-top: 40px;
}


.involved-span {
    width: 200px;
    height: 230px;
    background-color: #03A9F4;
    margin-top: 200px;
    color: #ffffff;
}

.event-container {
    padding-top: 80px;
}

.history-div {
    width: 300px;
    margin: auto;
    padding-top: 150px;
}

.group-image-div {
    
     background: url("../images/group.png")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    
    height: 300px;
    width: 800px;
    margin-left: ;
    
}

.insta1 {
    background: url("../images/day.png")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
}

.insta2 {
    background: url("../images/stonewall.png")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
}

.insta3 {
    background: url("../images/pride2.png")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
}

.insta4 {
    background: url("../images/poster.png")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;
    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
}


.insta5 {
    background: url("../images/wrong.png")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
}

.insta6 {
    background: url("../images/sky.png")no-repeat center center;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
}

.insta-container {
    padding-left: 90px;
}

.insta-div {
    width: 200px;
    height: 200px;
    background-color: black;
    margin-bottom: 40px;
}

/*---------------TIMELINE-------------*/

.time-map-margin {
    margin-top: 40px;
}

.map {
    height: 200px;
}

div#map {
  
    min-height: 360px;
    
}

.events-heading {
    margin-top: 80px;
}

.my-timeline-item {
    /*--- removes padding automatically set by bootstrap ---*/
    padding: 4em 2em 0em 2em;
    /*---positioned relative to normal position---*/
    position: relative;
    /*--- creates solid line for timeline ---*/
    border-left: 1px solid;
}

.my-timeline-item p {
    /*--- removes padding automatically set by bootstrap ---*/
    padding: 0;
    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
}

/*--- 'before' sets dates ---*/

.my-timeline-item:before {
    /*--- timeline displays dates to and the attribute sets them to be in order ---*/
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    /*--- removes padding automatically set by bootstrap ---*/
    padding: 0;
    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
}

/*--- 'after sets dots  ---*/

.my-timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    /*---positioned relative to the nearest positioned ancestor---*/
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: black;
}

.my-timeline {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    
    z-index: 2;
}



/*---MISC.--*/

.my-block-divider {
    width: 250px;
    height: 3px;
    /*--- no outline on divider ---*/
    border: 0;
    /*--- color of block divider, grey and slightly transparent ---*/
    background-color: #ffeb3b;
}

.my-text-box {
    padding: 25px;
}

.myform {
    width: 250px;
    margin-left: 40px;
}

.my-jumbotron {
    height: 630px;
    width: 325px;
    margin-left: 25px;
    margin-top: 120px;
    font-size: 40px;
    
}

.involved-container {
    padding: 0px;
}

.cover-heading {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    padding-top: 100px;
   
}

/*---Media Queries--*/

@media (min-width: 576px){
    .my-navbar-nav {
    padding-left: 0px;
}

.opaque-overlay {
   height: 60vh;

}

.involved-container {
    padding: 0px;
}

.my-jumbotron {
    width: 500px;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 90px;
}
.myform {
    width: 400px;
}

.insta-div {
   height: 130px;
   width: 130px;
    margin: 10px;
}

.insta-container {
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
}

}

@media (min-width: 992px) {

.my-jumbotron {
    width: 900px;
    margin-left: 46px;
    margin-right: 46px;
    margin-top: 85px;
}

.myform {
    width: 800px;
}

.involved-margin {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
 
}

.involved-span {
   padding-top: 30px;
    background-color: #03A9F4;
    margin-top: 200px;
    color: #ffffff;
}

.history-div {
    width: 600px;
    
    padding-top: 150px;
    
}

.insta-div {
   
    margin: 40px;
}


}

@media (min-width: 1200px){

.opaque-overlay {
   height: 90vh;

}

.my-jumbotron {
    
    width: 1150px;
    margin: auto;
    margin-top: 100px;
    
}


.history-div {
    width: 600px;
    
    padding-top: 150px;
    margin: auto;
}



.involved-margin {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
 
}



.involved-span {
   
    background-color: #03A9F4;
    margin-top: 200px;
    color: #ffffff;
}

.involved-div1 {
     width: 300px;
    height: 300px;
}
.involved-div2 {
     width: 300px;
    height: 300px;
}
.involved-div3 {
     width: 300px;
    height: 300px;
}

.myform {
    width: 1100px;
    margin: auto;
}

.involved-padding {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
}


.my-block-divider {
    width: 300px;
   
}

.insta-div {
    width: 250px;
    height: 250px;
    background-color: black;
    margin: 40px;
}
}