
/*--Background Styles--*/
body {
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #ffffff;
    color: black;
}

.callout-container {
    /*--- sets background image for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("../images/flag.jpg")no-repeat center center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 60vh;
    
}

.involved-container {
    color: black;
    padding-top: 500px;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 60vh;

}

.opaque-overlay {
    /*---positioned relative to the nearest positioned ancestor---*/
    position: absolute;
    top: 0;
    left: 0;
    /*--- size of overlay to just cover background image ---*/
    height: 100%;
    width: 100%;
    /*--- color of background to be grey but almost transparent to make white text stand out ---*/
    background-color: rgba(0, 0, 0, 0.55);

    /*---pulls content forward to be visible on Z-index axis---*/
    z-index: 1;

}

/*--Navbar Styles--*/

.my-navbar {
    font-family: 'Roboto Condensed', sans-serif;

    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #ffffff; 
    /*--- color of text white ---*/
    
    height: 150px;
}

.my-navbar-nav {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 30px;
    /*--- color of text white ---*/
    ;
    
}



.my-nav-link {
    /*--- color of text white ---*/
    color: black;
    /*--- color change transition when hovering over my-nav-link ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}


.my-navbar-toggler {
    /*--- display to fill contents ---*/
    display: contents;
    width: 2em;
    height: 2em;
    /*--- aligns to fit toggler container ---*/
    vertical-align: middle;
    /*--- content aligned according to parent element ---*/
    content: "";
    /*--- toggler doesn't repeat and it center to container ---*/
    background: no-repeat center center;
    /*--- toggler 100% of toggler container ---*/
    background-size: 100% 100%;

    /*--- color of text white ---*/
    color: black;
    /*--- removes margins automatically set by bootstrap ---*/
    margin-right: 30px;
}

.my-navbar-toggler-icon {
    /*--- color of icon white ---*/
    color: black;

}

.my-navbar-brand {
    font-family: 'Amatic SC', cursive;

}

/*--Buttons--*/

.my-btn {
    /*---blue color--*/
    background-color: #28a74500;
    border-color: #03A9F4;
    color: #03A9F4;
    font-weight: 800;
}

.my-btn:hover {
    /*--- color of background: blue ---*/
    background-color: #03A9F4;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.social-media i {
    /*---blue color--*/
    color: #03A9F4;
    font-size: 20px;
}

.social-media i:hover {
 /*--- color of background: darker green ---*/
    color: #2567ae;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}


.my-icon i {
    /*---blue color--*/
     color:  #03A9F4;
    font-size: 50px;
}
.my-icon i:hover {
     /*--- color of background: darker blue ---*/
    color: #2567ae;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker blue color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

/*---MISC.--*/

.involved-container {
    padding: 0px;
}

.cover-heading {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    padding-top: 100px;
   
}

/*---Media Queries--*/

@media (min-width: 576px){
    .my-navbar-nav {
    padding-left: 0px;
}

.opaque-overlay {
   height: 60vh;

}

.involved-container {
    padding: 0px;
}



}

@media (min-width: 992px) {
    .callout-container {
    /*--- sets background image for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("../images/pride2.png")no-repeat top center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 46.9vh;
    
}
}

@media (min-width: 1200px) {
    .callout-container {
    /*--- sets background image for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("../images/pride2.png")no-repeat center center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 90vh;
    
}

.opaque-overlay {
   height: 90vh;

}
.cover-heading {
    font-size: 200px;
   
}

}