body {
    font-family: 'Open Sans', sans-serif;
    background-color: #abada7;
    color: #fafafa;
}

.callout-container {
    /*--- sets background image for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("../images/pride.png")no-repeat top center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    /*--- makes the background fit to the container ---*/
    overflow: hidden;

    /*--- aligns and justifies text in container ---*/
    align-items: center;
    justify-content: center;
    /*--- the height that container will take up in the viewport ---*/
    height: 85vh;
}

.opaque-overlay {
    /*---positioned relative to the nearest positioned ancestor---*/
    position: absolute;
    top: 0;
    left: 0;
    /*--- size of overlay to just cover background image ---*/
    height: 85%;
    width: 100%;
    /*--- color of background to be grey but almost transparent to make white text stand out ---*/
    background-color: rgba(0, 0, 0, 0.67);

    /*---pulls content forward to be visible on Z-index axis---*/
    z-index: 1;

}